.graph {
  position: relative;
  width: 600px;
  height: 260px;
  font-family: 'Roboto', sans-serif;
}

.graph:first-child {
  height: 116% !important;
}

.graph__lastUpdated {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  margin-left: 10px;
}

.graph__lastUpdatedText {
  margin-right: 5px;
  font-size: 11px;
}

.graph__bottom {
  display: flex;
  font-size: 11px;
  color: #8e95aa;
}

.graph__link {
  position: absolute;
  right: 45px;
  bottom: 10px;
  display: flex;
  align-items: center;
  color: #8e95aa;
}

.graph__link:hover {
  text-decoration: underline;
}

.graph__linkText {
  margin-right: 7px;
}

.graph__tooltip_red {
  border: 1px solid #e5352f;
  position: relative;
  position: relative;
  /* min-width: 100px; */
  padding: 6px 6px 6px 6px;
  border-radius: 3px;
  background-color: rgba(249, 249, 249, 0.9);
}

.graph__tooltip_red::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #e5352f;
}

.graph__tooltip {
  position: relative;
  /* min-width: 100px; */
  /* height: 36px; */
  padding: 6px 6px 6px 6px;
  border: 1px solid #f7971d;
  border-radius: 3px;
  background-color: rgba(249, 249, 249, 0.9);
}

.graph__tooltip::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 7px solid #f7971d;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.graph__tooltipText {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
  margin-bottom: 4px;
}

.graph__tooltipText:last-child {
  margin-bottom: 0;
}
